#loancal{
  width: 375px;
  height: 295px;
  background-color: #85bb65 /*dollar bill hex code babee*/;
  color: #fff;
  margin-left: 275px;
  margin-top: 95px;
  padding-left: 90px;
  padding-top: 20px;
}

#months{
  width: 175px;
  height: 20px;
}

#amount{
  width: 175px;
  height: 20px;
}

#interest_rate{
  margin-left: 2px;
  width: 175px;
  height: 20px;
}

body{
  background-image: url(https://images.wallpaperscraft.com/image/money_dollar_dignity_amount_denominations_one_background_31463_1280x720.jpg)
}
h1{
  font-size: 40px;
}
